@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-50;
}
